# Endpoint API backend (server-side & build-time fetch)
NEXT_PUBLIC_API_URL=http://localhost:5003

# (opsional) URL default domain platform, dipakai untuk canonical/OG.
NEXT_PUBLIC_PLATFORM_URL=https://website.bagdja.com
